@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.ff-bebas {
  font-family: "Bebas Neue", cursive;
}

.ff-noto {
  font-family: "Noto Serif", serif;
}

.ff-roboto {
  font-family: "Roboto Condensed", sans-serif;
}

.title {
  color: #161616;
}

.title-large {
  display: inline-block;
  font-size: 9vw;
  line-height: 9vw;
  font-weight: 900;
  text-transform: uppercase;
  color: $color-white;
  margin-bottom: 20px;
}

.title-medium {
  font-weight: 900;
  font-size: 4vw;
}
.title-small {
  font-weight: 900;
  font-size: 2vw;
}

.txt-basic {
  font-size: 1.4vw;
  line-height: 2.5vw;
  font-weight: 400;
}

.txt-small {
  font-size: 1vw;
  line-height: 2vw;
  font-weight: 400;
}
