@import "~reset-css/reset.css";
@import "./common/variables.scss";
@import "./common/typo.scss";
@import "./common/grid.scss";
@import "./components/header.scss";
@import "./pages/home.scss";
@import "./pages/works.scss";
@import "./pages/about.scss";
@import "./common/footer.scss";

$color-white: white;

:root {
  --easing: cubic-bezier(0.5, 0.7, 0.4, 1);
  --white: white;
}

* {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
}

body {
  // background-color: #fbf3f1;
  background: black;
  color: white;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

main {
  position: relative;
}

.pf-display {
  font-family: "Playfair Display", serif;
}

.full-size {
  width: 100%;
  height: 100%;
}

main {
  height: 90vh;
}

a {
  color: $color-white;
  display: inline-block;
}

.mask {
  overflow: hidden;
}

.home-wrapper,
.career-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;

  section {
    position: relative;
  }
}

footer {
  height: 10vh;
}

.accent {
  font-weight: 900;
  font-size: 2vw;
}

span[class*="char"] {
  color: $color-white;
  display: inline-block;
  position: relative;
  text-shadow: -20px 10px 10px rgb(0 0 0 / 30%), 0 20px 50px rgb(0 0 0 / 30%);
  letter-spacing: -1vw;
}